.main-content a {
  text-decoration: none;
  color: white;
}
.main-content .panel-set {
  width: 80%;
  padding-bottom: 40px;
}
.main-content #about .nav-panel-bg {
  background-color: #0084a9;
}
.main-content #about .nav-panel-fg {
  background: radial-gradient(ellipse 150px 100px at bottom, #00c0f5, #0094bd, #0084a9) no-repeat;
}
.main-content #about h1 {
  border-bottom: 1px solid #007090;
}
.main-content #about h2 {
  border-top: 1px solid #0098c3;
}
.main-content #research .nav-panel-bg {
  background-color: #7a9d00;
}
.main-content #research .nav-panel-fg {
  background: radial-gradient(ellipse 150px 100px at bottom, #b5ea00, #8ab100, #7a9d00) no-repeat;
}
.main-content #research h1 {
  border-bottom: 1px solid #668400;
}
.main-content #research h2 {
  border-top: 1px solid #8eb700;
}
.main-content #blog .nav-panel-bg {
  background-color: #df9100;
}
.main-content #blog .nav-panel-fg {
  background: radial-gradient(ellipse 150px 100px at bottom, #ffb52d, #f39e00, #df9100) no-repeat;
}
.main-content #blog h1 {
  border-bottom: 1px solid #c68000;
}
.main-content #blog h2 {
  border-top: 1px solid #f9a200;
}
.main-content #tutorial .nav-panel-bg {
  background-color: #b23814;
}
.main-content #tutorial .nav-panel-fg {
  background: radial-gradient(ellipse 150px 100px at bottom, #e7562b, #c43e16, #b23814) no-repeat;
}
.main-content #tutorial h1 {
  border-bottom: 1px solid #9b3111;
}
.main-content #tutorial h2 {
  border-top: 1px solid #c93f17;
}
.main-content .nav-panel {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.75);
  outline: 1px solid #323232;
  outline-offset: 3px;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  .main-content .nav-panel {
    width: 100%;
    padding-bottom: 130%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main-content .nav-panel:hover .nav-panel-fg {
  opacity: 1;
}
.main-content .nav-panel:hover svg {
  opacity: 0.2;
}
.main-content .nav-panel-bg,
.main-content .nav-panel-fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-content .nav-panel-fg {
  opacity: 0;
  transition: all .2s;
}
.main-content svg {
  fill: #e0e0e0;
  stroke: #e0e0e0;
  opacity: 0.1;
  transition: all .2s;
  position: relative;
  right: -5%;
  top: -25%;
  transform: scale(1.4);
}
@media screen and (min-width: 48em) {
  .main-content svg {
    right: -5%;
    transform: scale(1.35);
  }
}
.main-content .nav-panel-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 35%;
  width: 80%;
  color: #e0e0e0;
  text-align: center;
  line-height: 1.5em;
  text-shadow: 0px 1px 0px #656565;
}
@media (min-width: 48em) {
  .main-content .nav-panel-text {
    top: 60%;
  }
}
.main-content .nav-panel-text h1,
.main-content .nav-panel-text h2 {
  padding: 10px;
}
.main-content .nav-panel-text h1 {
  margin: 0;
  font-size: 2rem;
  font-size: 4.6vw;
}
@media (min-width: 48em) {
  .main-content .nav-panel-text h1 {
    font-size: 2.3vw;
  }
}
.main-content .nav-panel-text h2 {
  font-size: 1em;
  font-size: 3.0vw;
}
@media (min-width: 48em) {
  .main-content .nav-panel-text h2 {
    font-size: 1.6vw;
  }
}
