.main-content .circle {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  color: white;
  text-align: center;
}
.main-content hr.about {
  border-color: #0084a9;
}
.main-content hr.research {
  border-color: #7a9d00;
}
.main-content hr.blog {
  border-color: #df9100;
}
.main-content hr.tutorial {
  border-color: #b23814;
}
.main-content .circle.about {
  background-color: #0084a9;
}
.main-content .circle.research {
  background-color: #7a9d00;
}
.main-content .circle.blog {
  background-color: #df9100;
}
.main-content .circle.tutorial {
  background-color: #b23814;
}
.main-content a {
  color: #e0e0e0;
}
