.main-content {
  /*
 * Caption component
 * http://maketea.co.uk/2013/12/16/smooth-text-overlays-with-css-transforms.html
 */
}
.main-content .circle {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  color: white;
  text-align: center;
}
.main-content hr.about {
  border-color: #0084a9;
}
.main-content hr.research {
  border-color: #7a9d00;
}
.main-content hr.blog {
  border-color: #df9100;
}
.main-content hr.tutorial {
  border-color: #b23814;
}
.main-content .circle.about {
  background-color: #0084a9;
}
.main-content .circle.research {
  background-color: #7a9d00;
}
.main-content .circle.blog {
  background-color: #df9100;
}
.main-content .circle.tutorial {
  background-color: #b23814;
}
.main-content a {
  color: #e0e0e0;
}
.main-content .caption {
  position: relative;
  overflow: hidden;
  /* Only the -webkit- prefix is required these days */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.main-content .caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, #000);
  opacity: 0.5;
  transition: all 0.35s ease-out;
}
.main-content .caption:hover::before {
  transform: translateY(-100%);
}
.main-content .caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.main-content .caption__overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}
.main-content .caption:hover .caption__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.main-content .caption__overlay__title {
  width: 100%;
  font-size: 2.0vw;
  padding-left: 10px;
  padding-bottom: 0.5rem;
  -webkit-transform: translateY(-webkit-calc(-110%));
  transform: translateY(calc(-110%));
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}
.main-content .caption:hover .caption__overlay__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.main-content .caption__overlay__content {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}
