---
layout: charcoal
title: Itai Katz
---

 <a href="docs/ikatz_cv_spr04.doc">CV</a> 
<!--
<div class="row">
  <div class="small-3 columns">3 columns</div>
  <div class="small-3 columns">3 columns</div>
  <div class="small-3 columns">3 columns</div>
  <div class="small-3 columns">3 columns</div>
</div>


<div class="panel-set">

  <a href="aboutme.html">
  <div class="panel-1 panel">
  
    <h1>About</h1>
    <h2>About Me</h2>
    {% include svg/info.svg %}
  </div>
  </a>

  <a href="#">
  <div class="panel-2 panel">
  
  
   <h1>Research</h1>
   <h2></h2>
   {% include svg/beaker.svg %}  
  </div>
  </a>  

  
  <a href="#">
  <div class="panel-3 panel">
  
    <h1>Blog</h1>
    <h2></h2>
    {% include svg/book.svg %}
  </div>
  </a>
  
  
  <a href="#">  
  <div class="panel-4 panel">

    <h1>Tutorials</h1>
    <h2></h2>          
    {% include svg/lightbulb.svg %}  
  </div>
  </a>
  
</div>-->   <!-- panel-set -->
