---
title: index
layout: charcoal2
---

<div class="container-fluid panel-set">
	<div class="row justify-content-center">
		<div class="col-6 col-md-3"> 
			<a href="{{site.baseurl}}/aboutme.html">
			<div class="nav-panel" id="about">
				<div class="panel-text">
					<div class="heading1">About</div>
					<div class="heading2">Bio & CV</div>    
				</div>
				{% include svg/info.svg %}
			</div>
			</a>
		</div>
		<div class="col-6 col-md-3">
			<a href="{{site.baseurl}}/research.html">
			<div class="nav-panel" id="research">
				<div class="panel-text">
					<div class="heading1">Research</div>
					<div class="heading2">Projects</div>    
				</div>
				{% include svg/beaker.svg %}
			</div>
			</a>
		</div>
		<div class="col-6 col-md-3">
			<a href="{{site.baseurl}}/blog.html">
			<div class="nav-panel" id="blog">
				<div class="panel-text">
					<div class="heading1">Blog</div>
					<div class="heading2">Writing</div>    
				</div>
				{% include svg/book.svg %}
			</div>
			</a>
		</div>

		<div class="col-6 col-md-3">
			<a href="{{site.baseurl}}/tutorials.html">
			<div class="nav-panel" id="tutorial">
				<div class="panel-text">
					<div class="heading1">Tutorials</div>
					<div class="heading2">Teaching</div>    
				</div>
				{% include svg/lightbulb.svg %}
			</div>
			</a>
		</div>		
	</div>
</div>