---
title: index
layout: charcoal2
custom_css: index.css
panels:
- {html: 'aboutme.html', id: 'about', svg: 'info.svg', h1: 'About', h2: 'Bio & CV'}
- {html: 'research.html', id: 'research', svg: 'beaker.svg', h1: 'Research', h2: 'Projects'}
- {html: 'blog.html', id: 'blog', svg: 'book.svg', h1: 'Blog', h2: 'Writing'}
- {html: 'tutorials.html', id: 'tutorial', svg: 'lightbulb.svg', h1: 'Tutorials', h2: 'Teaching'}
---

<div class="container-fluid panel-set">
	<div class="row justify-content-center">

	{% for panel in page.panels %}
	<div class="col-6 col-md-3"> 
		<a href="{{site.baseurl}}/{{panel.html}}">
		<div class="nav-panel" id="{{panel.id}}">
			<div class="nav-panel-bg"></div>
			<div class="nav-panel-fg"></div>
			{% include svg/{{panel.svg}} %}
			<h1>{{panel.h1}}</h1>
			<h2>{{panel.h2}}</h2>
			</div>
		</a>		
	</div>
	{% endfor %}

	</div>
</div>
