@import "css/templates/site_variables.less";

.main-content {
.circle {
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	color: white;
	text-align: center;
}

hr {
	&.about    { border-color: @panel-blue;   }
	&.research { border-color: @panel-green;  }
	&.blog     { border-color: @panel-orange; }
	&.tutorial { border-color: @panel-red;    }	
}

.circle {
	&.about    { background-color: @panel-blue;   }
	&.research { background-color: @panel-green;  }
	&.blog     { background-color: @panel-orange; }
	&.tutorial { background-color: @panel-red;    }	
}

a {
	color: @light-gray;
}

} // .main-content