<header>
<div class="row">
  <div class="small-6 columns"> 

    <a href="{{site.baseurl}}index.html"><h1>Itai Katz</h1></a>   
    <a href="{{site.baseurl}}index.html"><h2>Perception for robotics</h2></a>
    <!--
    <a href="{{site.baseurl}}index.html"><h1>Itai Katz</h1><br />   
    <h2>Perception for robotics</h2></a>
-->
  </div>
  <div class="small-6 columns contact">    
    {% include svg/email_icon.svg %}
    itai.j.katz@gmail.com  
  </div>

</div>
</header>


    

<!--
    <header>
      <div class="header-text">
      <a href="index.html"><h1>Itai Katz</h1></a>   
      <a href="index.html"><h2>Perception for robotics</h2></a>
      </div>
      <div class="contact">
       {% include svg/email_icon.svg %}
      itai@stanford.edu  
    
      </div>
      
    </header>

-->
