<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}css/foundation/foundation.css">
  

<link href='http://fonts.googleapis.com/css?family=Indie+Flower&text=Itai%20Katz' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/charcoal.css">

<script src="{{site.baseurl}}js/vendor/modernizr.js"></script>
<script src="{{site.baseurl}}js/vendor/jquery.js"></script>
<script src="{{site.baseurl}}js/foundation/foundation.js"></script>
<script src="{{site.baseurl}}js/foundation/foundation.slider.js"></script>
<script src="{{site.baseurl}}js/foundation/foundation.equalizer.js"></script>
<!--<script src="{{site.baseurl}}js/foundation/foundation.accordion.js"></script>-->


<!--<script src="js/svg4everybody.ie8.min.js"></script>-->
<!--[if lt IE 9]>
<script>
  document.createElement('header');
</script>

<style>
  header { display: block; }
</style>
<![endif]-->
