<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" href="css/foundation/foundation.css">


<link href='http://fonts.googleapis.com/css?family=Indie+Flower&text=Itai%20Katz' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<script src="js/vendor/modernizr.js"></script>
<link rel="stylesheet" type="text/css" href="css/charcoal.css">

<!--<script src="js/svg4everybody.ie8.min.js"></script>-->
<!--[if lt IE 9]>
<script>
  document.createElement('header');
</script>

<style>
  header { display: block; }
</style>
<![endif]-->
