<!-- To highlight some text:
<span class="highlight {{include.category}}"> My Highlighted Text </span>
<-->

{% unless site.categories contains {{include.category}} %}
Coming soon!
{% endunless %}

<div class="row">

{% for post in site.categories[{{include.category}}] %}

  {% if post.hidden == null or post.hidden == false %}
    <div class="col-6 col-md-4">
    <a href="{{site.baseurl}}{{ post.url }}" title="{{ post.publish_title }}">
    <div class="caption">
        <img class="caption__media" src="{{site.baseurl}}/{{post.thumbnail}}" />
        <div class="caption__overlay">
            <h1 class="caption__overlay__title">{{ post.publish_title }}</h1>
            <!-- <p class="caption__overlay__content">{{ post.date | date: '%B %d, %Y' }}</p> -->
        </div>
    </div>
    </a>
    </div>
  {% endif %}

{% comment %}
    <div class="col-6 col-med-6">
      <a href="{{site.baseurl}}/{{ post.url }}" title="{{ post.publish_title }}" class="{{include.category}} caption">
      <img class="caption__media" src="{{site.baseurl}}/assets/posts/steganography/lena.jpg" />
      <div class="caption__overlay">
          <h1 class="caption__overlay__title">{{post.publish_title}}</h1>
          <!-- <p class="caption__overlay__content">Lorem ipsum doler sit dui amet.</p> -->
      </div>
      </a>
    </div>  
{% endcomment %}
{% endfor %}

</div>