// Colors
$light-gray:	  #e0e0e0;
$dark-gray: 	  #656565;
$bg-color:	  	  #252525;
$icon-color:      #9f9f9f;

$panel-blue:	  #0084a9;
$panel-green:     #7a9d00;
$panel-orange:    #df9100;
$panel-red:       #b23814;

// Media Breakpoints
$sm-width:  34em;  // 544 px 
$med-width: 48em;  // 768 px 
$lg-width:  62em;  // 992 px 
$xl-width:  75em;  // 1200 px
