.about {
	//background-color: blue;
	text-align: center;
	p {
		text-align: justify;
	}

	p + p {
		margin-top: 10px;		
	}

	h1 {
		font-size: 50px;
	}

	h3 {
		padding: 0;
		margin: 0;
		font-size: 20px;	
		color: @light-gray;
		//background-color: red;
	}

	hr {
		color: @panel-blue;
	}

	.exp {
		//color: @bg-color;
		//color: darken(@bg-color, 50%);		    
		color: black;
	}

	ul {
		padding: 0;		
	}

	ul li {
		list-style: none;		
	}
	li+li {
		margin-top: 10px;		
	}

	.section {		
		text-align: left;
		margin-top: 20px;
		margin-bottom: 20px;	
	}


	.date {
		//background-color: blue;
		float: right;
		text-align: right;
		line-height: 20px;
	}

	.heading {	
		float: left;
		//height: 200px;
		//width: 200px;
		//background-color: red;
	}

	.about-text {
		//float: right;
		//background-color: green;
		margin-left: 120px;


	}


	.circle {
		float: left;
		width: 100px;
		height: 100px; 
		border-radius: 50%;
		/* width and height can be anything, as long as they're equal */
		background-color: @panel-blue;		
		margin-right: 20px;
		margin-top: 10px;
		color: white;
    	//font: bold 15px/13px Helvetica, Verdana, Tahoma;
    	//height: 16px; 
    	//padding: 4px 3px 0 3px;
    	text-align: center;
    	line-height: 100px;
	}
}