---
---
@import "site_variables";

$m_color: #7cb5ec;
$f_color: #e19e81;

.main-content h1 {
	margin: 16px 0;
	text-align: center;
}


.modal {
  color: black;
}

.title-mobile {
	display: none;
	h1 {
		font-size: 2.0rem;
	}

	@media (max-width: $med-width) {
		display: flex;
		justify-content: center;
	}
}
.title {
	font-size: 2.5rem;
	display: flex;
	gap: 10px;
	margin: 16px 0;

	@media (max-width: $med-width) {
		display: none;
		font-size: 2.0rem;
		justify-content: center
	}

	span:first-of-type {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}
	span:nth-of-type(2) {
		flex-basis: 50%
	}
}

.chart {
	margin-bottom: 10px;
	min-height: 200px;
	background-color: white;
}

.iface {
	display: flex;
	flex-direction: row;
	@media (max-width: $med-width) {
		flex-direction: column;
	}
	gap: 0.5em;
	margin: 1em 0;
	// align-items: center;

	// // justify-content: center;

	.toggle {
		// display: flex;
		// flex-grow: 1;
		// align-items: center;
	}
	.input {
		// flex-basis: 50%;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
		@media (max-width: $med-width) {
			order: 2;
		}

		// // justify-content: flex-end;
		// // align-self: flex-end;
	}
	button {
		height: 3em;
		width: 3em;
		border-radius: 3em;
		cursor: pointer;
		background-color: #7cb5ec;
    	border: 0.2em solid #517699;
    	color: black;
    	font-weight: bold;

		// position: absolute;
		background-image: url("question.png");
    	background-size: 1.25em;
		background-repeat: no-repeat;
		background-position: center;
		box-shadow: none;

		&:hover {
			background-color: #7cb5ec;
			border-color: #517699;
		}
		// top: 0.5em;
	}
	.button-set {
		flex-basis: 50%;
		display: flex;
		justify-content: flex-start;
		gap: 10px;
		@media (max-width: $med-width) {
			flex-basis: auto;
			justify-content: flex-end;
			order: 1
		}
	}
		
	@media (max-width: $med-width) {
		.toggle {
			flex-basis: auto;
		}
		.input {
			flex-grow: 0;
			justify-content: flex-start;
		}
		  .autoComplete_wrapper > input {
		  	// width: calc(100vw - 88px - 40px - 48px - 10px) !important;
		  	width: calc(100vw - 30px) !important;
	// 	  	width: auto;
		  }
	}

	.test {
		color: black;
		flex-grow: 1;
		background-color: white
	}



	.sex {
		margin: 0;
	}

}

.iface > div {
		// flex-basis: 50%;	
}

// To prevent unstyled pre-load
/*
.iface input {
	width: 370px;
}
@media only screen and (max-width: 600px) {
  .iface > .input {
    width: 18rem;
  }
}
*/

.line-charts, .aux-charts {
	display: flex;
	flex-direction: row;
	gap: 10px;
	

	div {
		flex-basis: 50%;	
	}	
	@media (max-width: $med-width) {
    	flex-direction: column;
	}

}

.slider {
	display: none;
	width: 100%;
}

mark {
	padding: 0;
}

.male {
	color: $m_color;
	mark {
		color: scale-color($m_color, $lightness: -5%, $saturation: 100%); 
	}
}

.female {
	color: $f_color;
	mark {
		color: scale-color($f_color, $lightness: -5%, $saturation: 100%); 
	}
}

.autoComplete_wrapper > ul > li {
	transition: none !important;
}

.autoComplete_wrapper > ul > li[male]:hover {
  background-color: #7cb5ec33;
}

.autoComplete_wrapper > ul > li[female]:hover {
  background-color: #e19e8133;
}


.toggle {
	input {
		position: absolute;
		box-sizing: border-box;
		height: 0;
		width: 0;
		font-size: inherit;
		margin: 0;
		border: none;
		z-index: 1;
		cursor: pointer;
		-moz-appearance: none;
		-webkit-appearance: none;

		&:focus {
			outline: none;
		}

		&[disabled='m']:before {
			// filter: opacity(0.3);
		}
		&[disabled='f']:after {
			// filter: opacity(0.3);
		}

		&:before,
		&:after {
			
			display: block;
			position: absolute;
			z-index: 1;
			// border-radius: 1em;
			height: 2.0em;
			width: 2.0em;
			background-size: 1.5em;
			// background-size: contain;
			background-repeat: no-repeat;
			content: "";
			top: 0.5em;
			filter: opacity(1);
		}		
		&:before {
			background-image: url("man_crop.png");
			left: 0.75em;			
		}
		&:after {
			background-image: url("woman_crop.png");
			left: 3.25em;
		}
	}
	label {
		width: 5.5em;
	    height: 3em;
    	border-radius: 3em;

    	background-color: #dedede;
    	position: relative;
		box-sizing: border-box;
		cursor: pointer;

		&[disabled] {
			cursor: not-allowed;	

			background-color: #e5e5f7;
			// opacity: 0.3;
			// background: repeating-linear-gradient( 45deg, #f74551, #f74551 1.5px, #e5e5f7 1.5px, #e5e5f7 5px );
			background: repeating-linear-gradient( 45deg, #E5B5B8, #E5B5B8 1.5px, #dedede 1.5px, #dedede 5px );


		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 3em;
			height: 3em;
			top: 0em;
			left: 0;
			border-radius: 2em;
			background: #fff;
			transition: 0.2s ease;
			box-shadow: 0 0.2em 0.45em rgba(0, 0, 0, 0.1);
			z-index: 0;
			background-color: rgb(124, 181, 236);
			// border: 1px solid rgb(124, 181, 236);

			// background-color: white;

			border: 0.2em solid #517699;

			// background-color: rgba(124, 181, 236,0.2);
			// border: 0.2em solid rgb(124, 181, 236);
			// backdrop-filter: invert(100%);
			// backdrop-filter: invert(100%)  brightness(150%);
		}
	}
	input:checked + label {
		&:before {
			transform: translateX(2.5em);
			// border: 0.2em solid rgb(250, 183, 154);
			background-color: rgb(250, 183, 154);
			border: 0.2em solid #99705e;
			// border: 1px solid rgb(250, 183, 154);
			// backdrop-filter: invert(100%)  hue-rotate(191deg) brightness(150%);
		}
	}
	// &:checked:hover + label:before {
	// 	border: 1px solid black;
	// 	box-shadow: 0 0 2px 3px rgb(250, 183, 154);
	// }
	// &:hover label:before {
	// 	border: 1px solid black;
	// 	box-shadow: 0 0 2px 3px rgb(124, 181, 236);
	// }
}

table {
	th {
		background-color: lightgray;
		color: black;		
		padding: 10px;
	}
	th:nth-child(1) {
		text-align: center;
	}
	td {
		// border: 1px solid #dddfe1;
		padding: 8px;
	}
	td:nth-child(1) {  
		// background-color: lightgray;
		// color: darkgray;
		text-align: center
	}
	td:nth-child(2) {
		color: #7cb5ec;
	}
	td:nth-child(3) {
		color: #e19e81;
	}

	tr {
		background-color: #444;
		border-top: 1px solid #222;
		border-bottom: 1px solid #222;
	}
	@media (max-width: $med-width) {
		font-size: 12px;
		th,td {
			padding: 2px;
		}
	}
}


